:root{
    --primary-color: rgb(11, 82, 145); 
    --secondary-color: rgb(85, 3, 92); 
    --contrast-color: rgb(210, 207, 209); 
}
#app {
    background-color: var(--primary-color); 
    color: var(--contrast-color); 
    text-align: center; 
}
.todo, .done {
    background-color: var(--secondary-color); 
}
.todo {
    text-decoration: underline;
}
.done {
    text-decoration: line-through;
}
